GITLAB_SUBDOMAIN=gitlab
GITLAB_SSH_PORT=2222
# Configuration for Omnibus GitLab. but we use the gitlab.rb file for configuration, so this is just an example of how to set it up if you were to use env variables directly in the omnibus config. You can ignore this line if you're using gitlab.rb for configuration. 
# GITLAB_OMNIBUS_CONFIG=external_url 'http://gitlab.${DOMAIN}'; gitlab_rails['gitlab_shell_ssh_port']=${GITLAB_SSH_PORT}
