# Datasette routing
DATASETTE_SUBDOMAIN=datasette
DATASETTE_DOMAIN=${DOMAIN}  # Set from global DOMAIN variable

# Datasette secret used for signed cookies/tokens
DATASETTE_SECRET=replace_with_a_long_random_secret
