CODER_ACCESS_URL=http://coder.${DOMAIN}
CODER_WILDCARD_ACCESS_URL=*.coder.${DOMAIN}
CODER_HTTP_ADDRESS=0.0.0.0:3000
CODER_DB_USER=coder
CODER_DB_PASSWORD=your_password_here
CODER_DB_NAME=coder
CODER_PG_CONNECTION_URL=postgresql://coder:$CODER_DB_PASSWORD@coder-db:5432/coder?sslmode=disable
